*/*/Intermediate/
*/*/Binaries/
*/*/Build/
03_BuildingEscape/BuildingEscape/Content/StarterContent/
*/*/DerivedDataCache/
*/*/Saved/
*.VC.db
03_BuildingEscape/BuildingEscape/.vs/BuildingEscape/v15/ipch/AutoPCH/
*.uasset
*.suo
*.opendb
*.db-shm
*.db-wal
